/* You can add global styles to this file, and also import other style files */
:root {
    --azul-escuro: #0d1b3e;
    --roxo: #6a2fb0;
    --roxo-claro: #a259d9;
    --branco: #ffffff;
    --texto-claro: #e6e6f0;
  }
  
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

app-root {
  display: block;
  width: 100%;
}